body {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar {
    background-color: #6200ea;
}

.navbar .nav-link {
    color: #e0e0e0;
}

.navbar .nav-link.active, .navbar .nav-link:hover {
    color: #ffffff;
    background-color: #3700b3;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #bb86fc;
}

.btn-primary {
    background-color: #bb86fc;
    border: none;
}

.btn-primary:hover {
    background-color: #3700b3;
}

.btn-secondary {
    background-color: #bb86fc;
    border: none;
}

.btn-secondary:hover {
    background-color: #3700b3;
}

.btn-danger {
    background-color: #bd324b;
    border: none;
}

.btn-danger:hover {
    background-color: #b00020;
}

.btn-danger {
    margin-right: 3px;
    padding: 2px; 
}

.btn-edit-yellow {
    background-color: #ffee00;
    color: black; /* Certifique-se de que o texto seja legível */
}

.btn-edit-yellow:hover {
    background-color: #fae900;
}

.btn-edit-yellow {
    margin-right: 7px; 
    padding: 2px;
}

.table thead th {
    background-color: #bb86fc;
    color: #000000;
}

.table tbody tr:nth-child(even) {
    background-color: #bb86fc;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #bb86fc;
}



