body {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    background-color: #6200ea;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #bb86fc;
}

.btn-primary {
    background-color: #bb86fc;
    border: none;
}

.btn-primary:hover {
    background-color: #3700b3;
}

.btn-secondary {
    background-color: #bb86fc;
    border: none;
}

.btn-secondary:hover {
    background-color: #3700b3;
}
